services:
  # Grocery Backend
  groceryapp-be:
    build: ./GroceryAppBe
    container_name: groceryapp-be
    env_file:
      - ./GroceryAppBe/.env
    ports:
      - "5000:5000"
    restart: unless-stopped

  # Grocery Frontend
  groceryapp-fe:
    build: ./GroceryAppFe
    container_name: groceryapp-fe
    env_file:
      - ./GroceryAppFe/.env
    ports:
      - "3000:80"
    depends_on:
      - groceryapp-be
    restart: unless-stopped

  # Todos Backend
  todos-be:
    build: ./TodosBe
    container_name: todos-be
    env_file:
      - ./TodosBe/.env
    ports:
      - "5001:5001"  # host:container
    restart: unless-stopped

  # Todos Frontend
  todos-fe:
    build: ./TodosFe
    container_name: todos-fe
    env_file:
      - ./TodosFe/.env
    ports:
      - "3001:80"
    depends_on:
      - todos-be
    restart: unless-stopped

  # HomeApp Frontend
  homeapp-fe:
    build: .
    container_name: homeapp-fe
    env_file:
      - .env
    ports:
      - "3002:80"
    depends_on:
      - groceryapp-be
    restart: unless-stopped